# base file
index.php

# themes other than child theme
themes/twentysixteen/
themes/twentyseventeen/
themes/twentynineteen
themes/jax-lite
themes/saul

# other WP native folders
uploads/
upgrade/
backup-db/
backups/

# third-party plugins
mu-plugins/
plugins/hello.php
plugins/akismet/
